/***** RESET *****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-size: 100%;
	vertical-align: baseline;*/
	
}
html, body {height:100%;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;} /* tables still need 'cellspacing="0"' in the markup */
textarea {overflow:auto;}
/***** RESET *****/
@font-face {
	font-family:'Open Sans Condensed';
	src: url(fonts/open_sans_condensed-webfont.eot);
	src: local('Open Sans Condensed'),  
		 url('HTML/fonts/open_sans_condensed-webfont.woff') format('woff'),  
		 url('HTML/fonts/open_sans_condensed-webfont.ttf') format('truetype'),
		 url('HTML/fonts/open_sans_condensed-webfont.svg#Open Sans Condensed') format('svg');
}
.ust{
width: 100%;
height: 46px;
background-color: rgb(219, 29, 29);
}
.orta1{
width:100%;
height: 445px;
padding: 120px 0 0 0;
}
.orta2{
width: 100%;
height: 200px;
}
.alt{
width:100%;
height: 62px;
padding: 20px 0 0 0;
}
.menu{
width: 1078px;
height: 46px;
margin: 0 auto;
}
.menu ul li{
float: left;
}
.menu ul li a{
display: block;
text-decoration: none;
text-indent: -2000px;
}
.menu ul li#logo a{
width: 19px;
height: 23px;
}
.menu ul li#store a{
width: 130px;
height: 20px;
}
.menu ul li#mac a{
width: 130px;
height: 20px;
}
.menu ul li#iphone a{
width: 130px;
height: 20px;
}
.menu ul li#watch a{
width: 130px;
height: 20px;
}
.menu ul li#ipad a{
width: 130px;
height: 20px;
}
.menu ul li#ipod a{
width: 130px;
height: 20px;
}
.menu ul li#itunes a{
width: 130px;
height: 20px;
}
.menu ul li#support a{
width: 130px;
height: 20px;
}
.menu ul li#search a{
width: 19px;
height: 19px;
}
.menu ul li:hover{
opacity: 0.5;
}
.spot{
width: 280px;
height: 150px;
margin: 0 auto;
text-align: center;
padding: 70px 0 0 0;
font:30px 'Goudy Old Style';
}
.ipad{
width: 1193px;
height: 34px;
margin: 0 auto;
}
.ipadalt{
width: 420px;
height: 40px;
margin: 50px auto 0 auto;
}
.ipadaltsol{
width: 163px;
height: 40px;
float: left;
}
.ipadaltsag{
width: 246px;
height: 40px;
float: left;
margin:0 0 0 10px;
}
.ipadaltsol a{
font: 26px tahoma;
color:#08c;
text-decoration: none;
}
.ipadaltsag a{
font: 26px tahoma;
color:#08c;
text-decoration: none;
display: block;
width: 220px;
height: 40px;
}
.ipadaltsol a:hover{
color:#333;
}
.ipadaltsag a:hover{
color:#333;
cursor: pointer;
}
.orta2 ul li{
float: left;
display: block;
width: 24.7%;
}

.orta2 ul li a{
display: block;
height: 200px;
text-indent: -2000px;
}
.alt1{
width: 450px;
height: 15px;
font:11px arial;
margin: 0 auto;
color: #666;
}
.alt2{
width: 430px;
height: 15px;
font:11px arial;
margin: 0 auto;
color: #666;
margin: 10px auto;
}
.alt3{
width: 390px;
height: 15px;
margin: 0 auto;
}
.alt1 a, .alt2 a{
font:11px arial;
color:#333;
text-decoration: none;
}
.alt3 a{
font:11px arial;
color:rgb(207, 19, 19);
text-decoration: none;
}
.alt1 a:hover, .alt2 a:hover, .alt3 a:hover{
text-decoration: underline;
}


